@font-face {
  font-family: 'iconfont'; /* project id 1980462 */
  src: url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.eot");
  src: url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.woff2") format('woff2'), url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.woff") format('woff'), url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.ttf") format('truetype'), url("//at.alicdn.com/t/font_1980462_d3od8rfzjit.svg#iconfont") format('svg');
}
body {
  margin: 0;
  padding: 0;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #ccc;
}
.dark-body {
  width: 1200px;
  margin: 0 auto;
}
.dark-nav {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.dark-about-author {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  margin: 0 auto;
  background-color: #121212;
  border-radius: 15px;
  margin-bottom: 20px;
}
.dark-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.dark-authorname {
  color: #fff;
  font-size: 30px;
}
.dark-subtitle {
  color: #878787;
  font-size: 20px;
  padding-bottom: 10px;
}
.dark-avatar {
  width: 200px;
  margin: 0 40px;
  text-align: center;
}
.dark-count {
  text-align: center;
}
.dark-nav-list {
  width: 200px;
}
.dark-nav-list-url {
  display: block;
  text-align: center;
  background-color: #121212;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 20px;
  line-height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.dark-nav-list-url:hover {
  font-size: 20px;
}
.dark-nav-list-url span {
  font-family: iconfont;
  color: #fff;
}
.dark-social {
  width: 270px;
  margin: 0 10px 20px;
  background-color: #121212;
  border-radius: 15px;
  padding: 10px 5px;
  text-align: center;
}
.dark-social span {
  font-family: iconfont;
}
.dark-social h3 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 5px;
  border-bottom: 1px solid #808080;
  color: #fff;
}
.dark-social a {
  text-decoration: none;
  color: #fff;
  background-color: #1f1f1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  line-height: 40px;
}
.dark-social a:hover {
  color: #000;
}
.dark-tagcloud {
  width: 270px;
  margin: 0 10px 20px;
  background-color: #121212;
  border-radius: 15px;
  padding: 10px 5px;
  text-align: center;
}
.dark-tagcloud h3 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 5px;
  border-bottom: 1px solid #808080;
  color: #fff;
}
.dark-tagcloud a {
  text-decoration: none;
  color: #fff;
  background-color: #1f1f1f;
  line-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
  height: 25px;
  line-height: 25px;
}
.dark-index {
  float: right;
  width: 880px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dark-postlist {
  background-color: #121212;
  border-radius: 15px;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.dark-post-cover img {
  width: 880px;
  height: 510px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.dark-post-cover h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  padding: 25px;
  width: 830px;
  margin: 0;
}
.dark-postmeta span {
  font-family: iconfont;
}
.dark-postmeta>a {
  text-align: center;
  height: 30px;
  padding: 0 10px;
  border-radius: 25px;
  display: inline-block;
  background-color: #1f1f1f;
  line-height: 30px;
  margin-left: 10px;
  color: #fff;
}
.dark-postmeta {
  padding: 10px;
}
.dark-postlist article {
  padding: 0 20px;
  color: #fff;
}
.dark-post {
  float: right;
  width: 880px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dark-post-content {
  padding: 0 20px;
  color: #fff;
}
.dark-post-foot {
  margin: 0 20px;
}
.nexmoe-comment {
  border-top: 1px solid #808080;
}
.dark-post-cover {
  position: relative;
}
.highlight {
  border-left: 2px solid #008000;
  font-size: 20px;
  background-color: #1f1f1f;
  overflow-x: auto;
}
.gutter {
  border-right: 1px solid #808080;
}
.code pre {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
.gutter pre {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 36px;
}
.gutter pre span {
  display: inline-block;
}
.dark-post-content a {
  text-decoration: none;
  color: #ff4e6a;
}
.dark-post-content a:hover {
  color: #808080;
}
.dark-post-content h1 {
  padding-left: 10px;
  border-bottom: 2px solid #ff4e6a;
  font-weight: bolder;
  font-size: 40px;
}
.dark-post-content h2 {
  padding-left: 10px;
  border-bottom: 2px solid #ff4e6a;
  font-weight: bolder;
  font-size: 30px;
}
.dark-post-content blockquote {
  color: #fff;
  margin: 25px 0;
  padding: 0.1em 2.2em;
  background-color: #1f1f1f;
  line-height: 28px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #808080;
}
.dark-py ul li {
  width: 100px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: 0;
  overflow: hidden;
}
.dark-py li img {
  width: 100%;
  border-radius: 0;
  border: none;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
}
.dark-py ul li>a::after {
  font-size: 13px;
  color: #606266;
  -webkit-transition: none;
  transition: none;
  content: attr(title);
  display: block;
  position: relative;
  border: none;
  padding: 3px 10px 5px 10px;
  margin-top: -2px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dark-py ul li>a {
  padding-top: 100%;
  display: block;
  position: relative;
}
.dark-archives {
  float: right;
  width: 880px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #121212;
  border-radius: 15px;
  padding-bottom: 10px;
/*margin-bottom: 30px;*/
}
.dark-archives>article {
  padding: 0 20px;
}
.dark-archives>article li {
  position: relative;
  padding: 10px 0;
  padding-left: 25px;
  padding: 10px 0px 10px 25px;
  list-style-type: none;
  color: #fff;
  line-height: 22.73px;
}
.dark-archives>article li a {
  color: #ff4e6a;
  text-decoration: none;
  padding-left: 10px;
}
.dark-archives>article h1,
h2 {
  padding-left: 10px;
  border-bottom: 2px solid #ff4e6a;
  font-weight: bolder;
  font-size: 30px;
  color: #fff;
}
.dark-archives>article li::after {
  content: "";
  height: 100%;
  width: 2px;
  background: rgba(255,78,106,0.2);
  position: absolute;
  left: 6px;
  top: 20px;
  color: #fff;
}
.dark-archives>article li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ff4e6a;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 11px;
  margin-left: -26px;
  border-radius: 100%;
  border: 3px solid #121212;
  z-index: 100;
  position: relative;
  font-size: 10px;
}
.dark-archives>article li:last-child::after {
  display: none;
}
